@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-yellow {
  scrollbar-width: auto;
  scrollbar-color: #facc15 rgba(255, 255, 255, 0.25);
}

.scrollbar-yellow::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.scrollbar-yellow::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.12);
  border-radius: 10px;
}

.scrollbar-yellow::-webkit-scrollbar-thumb {
  background-color: #facc15;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.12);
}

.scrollbar-yellow::-webkit-scrollbar-thumb:hover {
  background-color: #f59e0b;
}

@keyframes dropdownFade {
  0% {
    opacity: 0;
    transform: translateY(-6px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-dropdownFade {
  animation: dropdownFade 0.2s ease-out;
}

.flatpickr-calendar {
  transform: scale(1.3) translateY(10px) !important;
  transform-origin: top center !important;
}

.flatpickr-calendar.arrowTop:before,
.flatpickr-calendar.arrowTop:after {
  left: 50% !important;
  transform: translateX(-50%) !important;
}

.flatpickr-prev-month svg,
.flatpickr-next-month svg {
  stroke: #2755a8 !important;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange {
  background: #ffd900 !important;
  border-color: #ffd900 !important;
  color: #000 !important;
  border-radius: 10px !important;
}
